<a href="https://colab.research.google.com/github/Ann-Bond-coder/Artificial-intelligence/blob/main/Bondarenko_AI(lab4_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
# 1. Виконати імпорт необхідних бібліотек, в тому числі тих, що необхідні для обробки категоріальних даних

import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer

In [42]:
# 2. Створити список словників (не менше 10 + номер по журналу елементів у списку), кожен елемент списку, це словник, що
# зберігає інформацію про курс: назва курса, номер семестру, кількість кредитів, спеціальність. Є однакові курси для різних
# спеціальностей, але в різних семестрах і з різною кількістю кредитів.
data = [{'title': 'web', 'semester': 1, 'credits': 90, 'speciality': '121'},
        {'title': 'oop', 'semester': 2, 'credits': 120, 'speciality': '121'},
        {'title': 'ai', 'semester': 1, 'credits': 135, 'speciality': '122'},
        {'title': 'math', 'semester': 4, 'credits': 120, 'speciality': '123'},
        {'title': 'physics', 'semester': 1, 'credits': 135, 'speciality': '123'},
        {'title': 'web', 'semester': 6, 'credits': 90, 'speciality': '123'},
        {'title': 'web', 'semester': 2, 'credits': 150, 'speciality': '126'},
        {'title': 'math', 'semester': 3, 'credits': 150, 'speciality': '126'},
        {'title': 'math', 'semester': 8, 'credits': 90, 'speciality': '122'},
        {'title': 'math', 'semester': 5, 'credits': 135, 'speciality': '126'},
        {'title': 'physics', 'semester': 4, 'credits': 90, 'speciality': '122'},
        {'title': 'physics', 'semester': 4, 'credits': 120, 'speciality': '122'},
        {'title': 'oop', 'semester': 7, 'credits': 120, 'speciality': '126'},
        {'title': 'oop', 'semester': 6, 'credits': 90, 'speciality': '123'},
        {'title': 'web', 'semester': 3, 'credits': 90, 'speciality': '123'},
        {'title': 'math', 'semester': 2, 'credits': 135, 'speciality': '126'},
        {'title': 'physics', 'semester': 4, 'credits': 90, 'speciality': '126'},
        {'title': 'physics', 'semester': 3, 'credits': 135, 'speciality': '126'},
        {'title': 'math', 'semester': 1, 'credits': 150, 'speciality': '121'},
        {'title': 'oop', 'semester': 7, 'credits': 150, 'speciality': '122'},
        {'title': 'web', 'semester': 1, 'credits': 90, 'speciality': '125'},
        {'title': 'oop', 'semester': 5, 'credits': 95, 'speciality': '124'},
        {'title': 'ai', 'semester': 4, 'credits': 115, 'speciality': '125'},
        {'title': 'math', 'semester': 4, 'credits': 90, 'speciality': '125'},
        {'title': 'physics', 'semester': 3, 'credits': 100, 'speciality': '124'},
        {'title': 'web', 'semester': 5, 'credits': 90, 'speciality': '123'},
        {'title': 'web', 'semester': 5, 'credits': 150, 'speciality': '126'},
        {'title': 'physics', 'semester': 5, 'credits': 110, 'speciality': '126'}]

In [43]:
# 3. Створити екземпляр класу DictVectorizer
vec = DictVectorizer(sparse=False, dtype=int)

In [44]:
# 4. Використовуючи даний екзампляр класу, виконати перетворення категоріальних словника patients у числові
newdata = vec.fit_transform(data)
newdata

array([[ 90,   1,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1],
       [120,   2,   1,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0],
       [135,   1,   0,   1,   0,   0,   0,   0,   1,   0,   0,   0,   0],
       [120,   4,   0,   0,   1,   0,   0,   0,   0,   1,   0,   0,   0],
       [135,   1,   0,   0,   1,   0,   0,   0,   0,   0,   0,   1,   0],
       [ 90,   6,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   1],
       [150,   2,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   1],
       [150,   3,   0,   0,   0,   0,   0,   1,   0,   1,   0,   0,   0],
       [ 90,   8,   0,   1,   0,   0,   0,   0,   0,   1,   0,   0,   0],
       [135,   5,   0,   0,   0,   0,   0,   1,   0,   1,   0,   0,   0],
       [ 90,   4,   0,   1,   0,   0,   0,   0,   0,   0,   0,   1,   0],
       [120,   4,   0,   1,   0,   0,   0,   0,   0,   0,   0,   1,   0],
       [120,   7,   0,   0,   0,   0,   0,   1,   0,   0,   1,   0,   0],
       [ 90,   6,   0,   0,   1,   0,   0,   0,   0,   0,   1,   0,   0],
       [ 90,   3,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   1],
       [135,   2,   0,   0,   0,   0,   0,   1,   0,   1,   0,   0,   0],
       [ 90,   4,   0,   0,   0,   0,   0,   1,   0,   0,   0,   1,   0],
       [135,   3,   0,   0,   0,   0,   0,   1,   0,   0,   0,   1,   0],
       [150,   1,   1,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0],
       [150,   7,   0,   1,   0,   0,   0,   0,   0,   0,   1,   0,   0],
       [ 90,   1,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   1],
       [ 95,   5,   0,   0,   0,   1,   0,   0,   0,   0,   1,   0,   0],
       [115,   4,   0,   0,   0,   0,   1,   0,   1,   0,   0,   0,   0],
       [ 90,   4,   0,   0,   0,   0,   1,   0,   0,   1,   0,   0,   0],
       [100,   3,   0,   0,   0,   1,   0,   0,   0,   0,   0,   1,   0],
       [ 90,   5,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   1],
       [150,   5,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   1],
       [110,   5,   0,   0,   0,   0,   0,   1,   0,   0,   0,   1,   0]])

In [45]:
# 5. Вивести назви стовбців
columns = vec.get_feature_names_out()
columns

array(['credits', 'semester', 'speciality=121', 'speciality=122',
       'speciality=123', 'speciality=124', 'speciality=125',
       'speciality=126', 'title=ai', 'title=math', 'title=oop',
       'title=physics', 'title=web'], dtype=object)

In [46]:
# 6.На основі перетворених даних та отриманих назв стовбців створити датафрейм
df = pd.DataFrame(newdata)
df.columns = columns
df

,credits,semester,speciality=121,speciality=122,speciality=123,speciality=124,speciality=125,speciality=126,title=ai,title=math,title=oop,title=physics,title=web
0,90,1,1,0,0,0,0,0,0,0,0,0,1
1,120,2,1,0,0,0,0,0,0,0,1,0,0
2,135,1,0,1,0,0,0,0,1,0,0,0,0
3,120,4,0,0,1,0,0,0,0,1,0,0,0
4,135,1,0,0,1,0,0,0,0,0,0,1,0
5,90,6,0,0,1,0,0,0,0,0,0,0,1
6,150,2,0,0,0,0,0,1,0,0,0,0,1
7,150,3,0,0,0,0,0,1,0,1,0,0,0
8,90,8,0,1,0,0,0,0,0,1,0,0,0
9,135,5,0,0,0,0,0,1,0,1,0,0,0
10,90,4,0,1,0,0,0,0,0,0,0,1,0
11,120,4,0,1,0,0,0,0,0,0,0,1,0
12,120,7,0,0,0,0,0,1,0,0,1,0,0
13,90,6,0,0,1,0,0,0,0,0,1,0,0
14,90,3,0,0,1,0,0,0,0,0,0,0,1
15,135,2,0,0,0,0,0,1,0,1,0,0,0
16,90,4,0,0,0,0,0,1,0,0,0,1,0
17,135,3,0,0,0,0,0,1,0,0,0,1,0
18,150,1,1,0,0,0,0,0,0,1,0,0,0
19,150,7,0,1,0,0,0,0,0,0,1,0,0
20,90,1,0,0,0,0,1,0,0,0,0,0,1
21,95,5,0,0,0,1,0,0,0,0,1,0,0
22,115,4,0,0,0,0,1,0,1,0,0,0,0
23,90,4,0,0,0,0,1,0,0,1,0,0,0
24,100,3,0,0,0,1,0,0,0,0,0,1,0
25,90,5,0,0,1,0,0,0,0,0,0,0,1
26,150,5,0,0,0,0,0,1,0,0,0,0,1
27,110,5,0,0,0,0,0,1,0,0,0,1,0

In [47]:
# 7. Використовуючи логічну індексацію, вивести інформацію про курси, що викладаються певній спеціальності (запитати назву у користувача)
speciality = input('Enter speciality:  ')

if f'speciality={speciality}' in df.columns:
 print(df[df[f'speciality={speciality}'] == True])
else:
 print("Speciality has not found")

Enter speciality:  123
    credits  semester  speciality=121  speciality=122  speciality=123  \
3       120         4               0               0               1
4       135         1               0               0               1
5        90         6               0               0               1
13       90         6               0               0               1
14       90         3               0               0               1
25       90         5               0               0               1

    speciality=124  speciality=125  speciality=126  title=ai  title=math  \
3                0               0               0         0           1
4                0               0               0         0           0
5                0               0               0         0           0
13               0               0               0         0           0
14               0               0               0         0           0
25               0               0               0         0           0

    title=oop  title=physics  title=web
3           0              0          0
4           0              1          0
5           0              0          1
13          1              0          0
14          0              0          1
25          0              0          1

In [48]:
# 8. Використовуючи індексатор loc вивести інформацію про всі курси, окрім тих, що вивчаются на першому курсі навчання.
df.loc[df['semester'] > 1]

,credits,semester,speciality=121,speciality=122,speciality=123,speciality=124,speciality=125,speciality=126,title=ai,title=math,title=oop,title=physics,title=web
1,120,2,1,0,0,0,0,0,0,0,1,0,0
3,120,4,0,0,1,0,0,0,0,1,0,0,0
5,90,6,0,0,1,0,0,0,0,0,0,0,1
6,150,2,0,0,0,0,0,1,0,0,0,0,1
7,150,3,0,0,0,0,0,1,0,1,0,0,0
8,90,8,0,1,0,0,0,0,0,1,0,0,0
9,135,5,0,0,0,0,0,1,0,1,0,0,0
10,90,4,0,1,0,0,0,0,0,0,0,1,0
11,120,4,0,1,0,0,0,0,0,0,0,1,0
12,120,7,0,0,0,0,0,1,0,0,1,0,0
13,90,6,0,0,1,0,0,0,0,0,1,0,0
14,90,3,0,0,1,0,0,0,0,0,0,0,1
15,135,2,0,0,0,0,0,1,0,1,0,0,0
16,90,4,0,0,0,0,0,1,0,0,0,1,0
17,135,3,0,0,0,0,0,1,0,0,0,1,0
19,150,7,0,1,0,0,0,0,0,0,1,0,0
21,95,5,0,0,0,1,0,0,0,0,1,0,0
22,115,4,0,0,0,0,1,0,1,0,0,0,0
23,90,4,0,0,0,0,1,0,0,1,0,0,0
24,100,3,0,0,0,1,0,0,0,0,0,1,0
25,90,5,0,0,1,0,0,0,0,0,0,0,1
26,150,5,0,0,0,0,0,1,0,0,0,0,1
27,110,5,0,0,0,0,0,1,0,0,0,1,0