<a href="https://colab.research.google.com/github/Ann-Bond-coder/Artificial-intelligence/blob/main/Bondarenko_AI(lab4_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# 1. Виконати імпорт необхідних бібліотек в ноутбукі середовища Google Colab,в тому числі для обробки пропущених даних.
from google.colab import drive
import pandas as pd
import numpy as np
import os
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction import DictVectorizer

In [11]:
# 2. Виконати підключення до Google Drive, створити необхідні змінні для зберігання шляхів до каталогів з данними.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
# 3. Вивести інформацію про вміст каталогу з даними (перелік каталогів та файлів)
original_path = '/content/drive/MyDrive/Colab Notebooks/data/'
os.listdir(original_path)

['kidney_disease.csv',
 'adult.data',
 'telecom_churn.csv',
 'adult_data.csv',
 'tips.csv',
 'ratings_withoutHeaders.csv']

In [13]:
# 4. Створити змінну для зберігання шляху до файлу з даними (kidney_disease.csv)
# 5. Зчитати дані з файлу у датафрейм Pandas
path = os.path.join(original_path, 'kidney_disease.csv')
data = pd.read_csv(path)

In [14]:
# 6. Вивести перші 5 рядків створеного датафрейму
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [15]:
# 7. Вивести загальні показники датафрейму
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [16]:
# 8. Вивести назви стовбців датафрейму
data.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [17]:
# 9. Створити новий набір, що містить назви стовбців, які зберігають числові дані. Для створення даного набору виконати операції двох
# зрізів на наборі назв стовбців та використати оператор додавання елементів в кінець списку для обєднання результатів зрізів в один набір.
int_float_columns = data.select_dtypes(include=['float64', 'int64']).columns
int_float_columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot',
       'hemo'],
      dtype='object')

In [21]:
# 10. Використовуючи метод setdiff1d створити набір назв стовбців, що містять категоріальні дані, як різницю між набором з усіма назвами та набором з назвами числових стовбців.
object_columns = list(np.setdiff1d(data.columns, int_float_columns))
object_columns

['ane',
 'appet',
 'ba',
 'cad',
 'classification',
 'dm',
 'htn',
 'pc',
 'pcc',
 'pcv',
 'pe',
 'rbc',
 'rc',
 'wc']

In [18]:
# 11. Створити екземпляр класу SimpleImputer на базі стратегії "середнє значення"
simImp = SimpleImputer(missing_values = np.nan, strategy='mean')

In [54]:
# 12. Використовуючи метод fit_transform виконати заповнення тих стовбців датасету, що містять чилові дані, вивести отриманий результат
new_data = pd.DataFrame(simImp.fit_transform(data[int_float_columns]), columns=int_float_columns)
print("A new data frame:\n",new_data)

A new data frame:
         id   age    bp     sg   al   su         bgr    bu   sc         sod  \
0      0.0  48.0  80.0  1.020  1.0  0.0  121.000000  36.0  1.2  137.528754
1      1.0   7.0  50.0  1.020  4.0  0.0  148.036517  18.0  0.8  137.528754
2      2.0  62.0  80.0  1.010  2.0  3.0  423.000000  53.0  1.8  137.528754
3      3.0  48.0  70.0  1.005  4.0  0.0  117.000000  56.0  3.8  111.000000
4      4.0  51.0  80.0  1.010  2.0  0.0  106.000000  26.0  1.4  137.528754
..     ...   ...   ...    ...  ...  ...         ...   ...  ...         ...
395  395.0  55.0  80.0  1.020  0.0  0.0  140.000000  49.0  0.5  150.000000
396  396.0  42.0  70.0  1.025  0.0  0.0   75.000000  31.0  1.2  141.000000
397  397.0  12.0  80.0  1.020  0.0  0.0  100.000000  26.0  0.6  137.000000
398  398.0  17.0  60.0  1.025  0.0  0.0  114.000000  50.0  1.0  135.000000
399  399.0  58.0  80.0  1.025  0.0  0.0  131.000000  18.0  1.1  141.000000

          pot  hemo
0    4.627244  15.4
1    4.627244  11.3
2    4.627244   9.6
3    2.500000  11.2
4    4.627244  11.6
..        ...   ...
395  4.900000  15.7
396  3.500000  16.5
397  4.400000  15.8
398  4.900000  14.2
399  3.500000  15.8

[400 rows x 12 columns]

In [55]:
# 13. Вивести кількість строк та стовбців (перевірити форму) отриманого на попередньому кроці результату.
new_data.shape

(400, 12)

In [25]:
# 14. Перевірити, що використання методу fit_transform не змінило оригінальний датасет. Вивести перші 5 строк оригінального датасету.
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [42]:
# 15. Використовуючи цикл по стовбцям, що містіть числові значення, оновити їх контент на відповідні значення з набору, який був отриманий в результаті трансформації. 
# Створити новий датафрейм, як копію отриманого на попередньому кроці

#16 Вивести перші 5 строк оновленого датасету.
data2 = data.copy();

for col in data2[int_float_columns].columns:
  if data2[col].dtype == 'int64' or data2[col].dtype == 'float64':
    data2[col] = new_data[col]

data2.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2.0,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3.0,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [43]:
# 17. З нового датафрейму вивести унікальні значення ознаки класс
data2['classification'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [58]:
# 18. Написати lambda-функцію для перетворення пошкодженого значення у нормальний формат ('ckd\t' це пошкоджений варіант ckd)
myF = lambda x:'ckd' if x=='ckd\t' else x

In [59]:
# 19. Використовуючи метод map та реалізовану функцію, виконати перетворення значень ознаки класс
data2['classification'] = data['classification'].map(myF)

In [60]:
# 20. Вивести оновлені унікальні значення ознаки класс
data2['classification'].unique()

array(['ckd', 'notckd'], dtype=object)

In [70]:
# 21. Використовуючи метод get_dummies виконати обробку категоріальних значень у датасеті. Вивести перші 3 рядки оновленого датасету.
data_encoded = pd.get_dummies(data2, columns=object_columns)
data_encoded.head(3)

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,wc_9000,wc_9100,wc_9200,wc_9300,wc_9400,wc_9500,wc_9600,wc_9700,wc_9800,wc_9900
0,0.0,48.0,80.0,1.02,1.0,0.0,121.000000,36.0,1.2,137.528754,...,0,0,0,0,0,0,0,0,0,0
1,1.0,7.0,50.0,1.02,4.0,0.0,148.036517,18.0,0.8,137.528754,...,0,0,0,0,0,0,0,0,0,0
2,2.0,62.0,80.0,1.01,2.0,3.0,423.000000,53.0,1.8,137.528754,...,0,0,0,0,0,0,0,0,0,0